html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto";
    position: relative;
    min-height: 100vh;
}

header div.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

header div.header-content img {
    width: 160px;
}

header div.header-content h1 {
    font-size: 60px;
    margin-left: 50px;
    font-family: "Roboto";
    color: gray;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
}

main div.add-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: right;
}

main .projects-table {
    font-family: "Roboto";
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

main .projects-table td, main .projects-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

main .projects-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

main .projects-table tr:hover {
    background-color: #ddd;
}

main .projects-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div.back {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}


/*----------------------ADD------------------------------*/

main div.add-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.add-project #title, main div.add-project #description {
    width: 400px;
    resize: none;
}

main form {
    padding-bottom: 50px;
}

/*----------------------Project---------------------------*/


main div.unic-project div.info p {
    width: 50%;
}

main div.unic-project div.info form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.unic-project div.info form h2 {
    width: 50%;
    display: flex;
    justify-content: left;
}

main div.edit-content {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}





/*--------------------------SIGN IN AND SIGN UP------------------------------*/
main div.sign {
    display: flex;
    justify-content: center;
}


/*--------------------------------ASSGIN----------------------------------*/
main div.assign-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}

main div.assign-container div.not-assigned {
    display: flex;
    flex-direction: column;
    align-items: end;
}
/*----------------------------------MEDIA------------------------------*/

@media only screen and (max-width: 710px){
    header div.header-content img {
        width: 100px;
    }
    header div.header-content h1 {
        font-size: 40px;
        margin-left: 20px;
    }
    main div.assign-container {
        display: flex;
        flex-direction: column;
    }
    main div.assign-container div.assigned{
        margin-right: auto;
        margin-left: auto;

    }
    main .projects-table,main div.add-button  {
        width: 400px;
    }

}
@media only screen and (max-width: 475px) {
    header div.header-content img {
        width: 70px;
    }
    header div.header-content h1 {
        font-size: 20px;
        margin-left: 20px;
    }
    main .projects-table,main div.add-button  {
        width: 300px;
    }
    main div.add-project #title, main div.add-project #description {
        width: 290px;

    }

}